@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', serif;
  background-color: #fdf6e3; /* Fond ocre clair */
  color: #5a3e36; /* Marron foncé */
}